.card-top {
  width: 280px;
  transform: translateX(30px) translateY(25px);
  transition: all 0.2s ease-in-out;

  @media (min-width: $breakpoint-tablet) {
    transform: translateX(100px) translateY(240px);
    width: 380px;
  }

  @media (min-width: $breakpoint-desktop) {
    transform: translateX(100px) translateY(40px);
  }

  @media (min-width: $breakpoint-large) {
    transform: translateX(250px) translateY(90px);
    width: 420px;
  }
}
