.card-wrapper {
  position: relative;

  .card-image {
    width: 100%;
    display: block;
  }

  .card-details {
    .logo-wrapper {
      position: absolute;
      top: 12%;
      left: 7%;
      width: 25%;
      height: auto;

      @media (min-width: $breakpoint-desktop) {
        width: 22%;
      }

      .card-logo {
        width: 100%;
        display: block;
      }
    }

    .card-data-wrapper {
      position: absolute;
      bottom: 10%;
      left: 7%;
      font-size: 12px;
      color: var(--neutral-white);
      width: calc(100% - 14%);

      .card-number-data {
        font-size: 1.23rem;
        letter-spacing: 1px;

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.5rem;
          letter-spacing: 3px;
        }

        @media (min-width: $breakpoint-desktop) {
          margin-bottom: 15px;
        }
      }

      .card-name-date {
        display: flex;
        justify-content: space-between;

        .card-name {
          text-transform: uppercase;
          letter-spacing: 0.8px;

          @media (min-width: $breakpoint-desktop) {
            font-size: 16px;
          }
        }

        .card-date {
          @media (min-width: $breakpoint-desktop) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .cvc-wrapper {
    position: absolute;
    top: 42%;
    right: 12%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--neutral-white);

    p {
      font-size: 14px;
      margin-bottom: 3px;

      @media (min-width: $breakpoint-desktop) {
        font-size: 16px;
      }
    }
  }
}
